@import 'common.scss';

@mixin player {
    background-color: $darkColour;
    border-radius: 6px;
    color: white;
    padding: 0.25rem 0.5rem;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    vertical-align: top;
    word-break: break-word;
    display: grid;
}

@mixin list {
    text-align: left;
    font-size: small;
    width: 15rem;
}

@mixin selected {
    border-style: solid;
    border-width: 0.125rem;
    margin: 0.125rem;
    border-color: $secondaryColour;
}

div.player {
    @include player;
    @include list;
    margin: 0.25rem;
    border: 0px;
}

div.playerSelected {
    @include player;
    @include selected;
    @include list;
    cursor: text;
}

@mixin card {
    text-align: center;
    font-size: small;
}

div.playerCard {
    @include player;
    @include card;
    width: 8rem;
    margin: 0.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0px;
}

div.cardSelected {
    @include player;
    @include selected;
    @include card;
    width: 8rem;
    margin-top: 0px;
    margin-bottom: 0px;
    border-color: $highlightColour;
    padding: 0.125rem 0.5rem;
}

div.cardHouse {
    display: grid;
    justify-items: center;
}

div.pointsCard {
    @include player;
    @include card;
    margin-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 6rem;
    font-size: small;
    background-color: white;
    color: $darkColour;
    cursor: text;
    padding: 0px;
    padding-bottom: 0.125rem;
}

span.playerName {
    font-size: small;
    text-decoration: underline;
}

th#hideDetail {
    font-weight: thick;
    font-size: 24px;
    border-radius: 6px;
    text-align: center;
    width: 3rem;
    background-color: $primaryColour;
    cursor: pointer;
}

th#hideDetail:hover {
    background-color: $highlightColour;
}

table {
    margin-bottom: 1.5rem;
    border-radius: 2px;
    padding: 0.25rem;
    border: 0px;
}

table#playerInfo {
    background-color: $primaryColour;
}

table#playerInfo th {
    border-bottom: 2px solid $darkColour;
    border-bottom-color: $darkColour;
}

table#playerStats {
    font-size: 10px;
    margin-bottom: 0px;
}

img.center {
    display: block;
    margin: auto;
}

div.imgContainer {
    display: block;
    height: 4rem;
    overflow: hidden;
}

img.card {
    width: 6rem;
}


@media only screen and (max-width: 800px) {
    div.playerCard {
        font-size: 8px;
        width: 4rem;
    }
    img.card {
        width: 3rem;
    }
    div.imgContainer {
        height: 2.4rem;
    }
    div.pointsCard {
        width: 3rem;
        font-size: 8px;
    }
}
