@import 'common.scss';

div.flexHouse {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.tabsolute {
    position: absolute;
    bottom: 0;
}

button.tab {
    background-color: $darkColour;
    cursor: pointer;
    font-size: 16px;
    color: white;
    display: inline-block;
    text-decoration: none;
    text-align: left;
    border: 0px;
    padding: 8px 16px;
    border-radius: 12px 12px 0px 0px;
    outline: none;
}

button.selected {
    background-color: $primaryColour;
    opacity: 1;
}

div.tabline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4%;
    background-color: $darkColour;
}