@import 'common.scss';

div.tabWrapper {
    position: absolute;
    bottom: 0;
    left: 20%;
}

button.tab {
    background-color: $darkColor;
    /* background-color: #0a437a; */
    /* opacity: 0.6; */
    /* position: absolute; */
    /* bottom: 0%; */
    /* bottom: 20%; */
    /*left: 0; */
    /* align-items: left; */
    cursor: pointer;
    font-size: 16px;
    color: white;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border: 0px;
    padding: 8px 16px;
    border-radius: 12px 12px 0px 0px;
    outline: none;
}

button.selected {
    background-color: $primaryColor;
    opacity: 1;
}
