@import 'common.scss';

div#teamPage {
    display: grid;
    grid-template-areas: 'edge1 suggestedTeamsWrapper suggestedTransfers edge2';
    grid-template-columns: 40px 2fr 1fr 40px;
}

div#suggestedTeamsWrapper {
    grid-area: suggestedTeamsWrapper;
    display: grid;
    grid-template-areas:
        'gwSelector'
        'suggestedTeams';
    grid-template-rows: 1fr fr;
}

div#suggestedTeams {
    grid-area: suggestedTeams;
    display: grid;
    grid-template-areas:
        'team1'
        'team2'
        'team3'
        'team4'
        'subs'
        'selected';
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

div#suggestedTransfers {
    grid-area: suggestedTransfers;
}

div#edge {
    grid-area: edge;
}

div.gwSelector {
    grid-area: gwSelector;
}

button.gwToggle {
    opacity: 0.5;
    vertical-align: middle;
}

button.hide {
    visibility: hidden;
}