div#teamPage {
    display: grid;
    grid-template-areas: 'edge1 suggestedTeams suggestedTransfers edge2';
    grid-template-columns: 80px 2fr 1fr 80px;
}

div#suggestedTeams {
    grid-area: suggestedTeams;
    display: grid;
    grid-template-areas:
        'row1'
        'row2'
        'row3'
        'row4';
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

div#suggestedTransfers {
    grid-area: suggestedTransfers;
}

div#edge {
    grid-area: edge;
}