@import 'common.scss';

div.transfer {
    font-size: small;
}

div.transferList {
    font-weight: bold;
}

table.transferTable {
    border: 1px solid white;
    background-color: $darkColour;
    margin: 1rem;
    padding: 0.25rem;
    text-align: left;
}

table.transferTable td {
    font-weight: normal;
    font-size: small;
    padding: 0.25rem;
}

table.transferTable th {
    font-weight: bold;
    font-size: medium;
    padding: 0.25rem;
}