@import 'common.scss';

div.transfer {
    font-size: small;
}

div.transferList {
    font-weight: bold;
}

@mixin teamTable {
    border: 1px solid white;
    background-color: $darkColour;
    margin: 1rem;
    padding: 0.25rem;
    text-align: left;

    td {
        font-weight: normal;
        font-size: small;
        padding: 0.25rem 0.5rem;
    }

    th {
        font-weight: bold;
        font-size: medium;
        padding: 0.25rem 0.5rem;
    }
}

table.transferTable {
    @include teamTable;
}