@import 'common.scss';

#userStamp {
    position: relative;
    text-align: end;
    padding: 6px;
    color: $primaryColour;
    font-size: 12px;
    font-weight: bold;
}

span {
    cursor: pointer;
}

span:hover {
    color: $highlightColour;
}